
input[type=button1]
{
 font-size: 16px;
 background: linear-gradient(#ffbc00 0%, #ffdd7f 100%);
 border: 1px solid #e5a900;
 color: #4E4D4B;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 border-radius: 5px;
 padding: 10px 0;
 outline:none;
}
 
input[type=button1]:hover{
 background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

input[type=button2]
{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

input[type=button2]:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
.fugo{
 float:right;
}
