*{
	margin: 0;
	padding: 0;
}

.row
{
	width: 1140px;
	margin: 0 auto;
}

body
{
	font-family: arial;
}

.hero
{
	position: absolute;
	width: 1240px;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
}


header
{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("start_background.jpg");
	height: 67vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1
{
    font-size: 60px;
	color: #FFFFFF;
}

.client_login
{
    
    position: absolute;
    width: 500px;
    top: 55%;
    left: 10%;
}

.architect_login
{
    position: absolute;
    width: 500px;
    top: 55%;
    left: 50%;
    
}
.meal-showcase
{
    list-style: none;
    width: 100%;
}

.meal-showcase li
{
    display: block;
    width: 25%;
    float: left;
}

.meal-photo
{
    width: 100%;
    margin: 0;
    overflow:hidden;
}

.meal-photo img
{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: all 1.5s;
}

.meal-photo img:hover
{
    transform: scale(2.0);
}

.meal
{
    margin-top: 0px;
    margin-bottom: 0px;
}




